/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-headings: "Poetsen One", -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
		Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
		Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-10: hsl(0, 0%, 10%);
	--color-gray-20: hsl(0, 0%, 20%);
	--color-gray-30: hsl(0, 0%, 30%);
	--color-gray-40: hsl(0, 0%, 40%);
	--color-gray-50: hsl(0, 0%, 50%);
	--color-gray-60: hsl(0, 0%, 60%);
	--color-gray-70: hsl(0, 0%, 70%);
	--color-gray-80: hsl(0, 0%, 80%);
	--color-gray-90: hsl(0, 0%, 90%);
	--color-gray-95: hsl(0, 0%, 95%);

	--color-ocean-10: hsl(190, 36%, 10%);
	--color-ocean-20: hsl(190, 36%, 20%);
	--color-ocean-30: hsl(190, 36%, 30%);
	--color-ocean-40: hsl(190, 36%, 40%);
	--color-ocean-50: hsl(190, 36%, 50%);
	--color-ocean-60: hsl(190, 36%, 60%);
	--color-ocean-70: hsl(190, 36%, 70%);
	--color-ocean-80: hsl(190, 36%, 80%);
	--color-ocean-90: hsl(190, 36%, 90%);

	--color-verdigris-10: hsl(176, 42%, 10%);
	--color-verdigris-20: hsl(176, 42%, 20%);
	--color-verdigris-30: hsl(176, 42%, 30%);
	--color-verdigris-40: hsl(176, 42%, 40%);
	--color-verdigris-50: hsl(176, 42%, 50%);
	--color-verdigris-60: hsl(176, 42%, 60%);
	--color-verdigris-70: hsl(176, 42%, 70%);
	--color-verdigris-80: hsl(176, 42%, 80%);
	--color-verdigris-90: hsl(176, 42%, 90%);


	--color-medium-red-violet-10: hsl(320, 50%, 10%);
	--color-medium-red-violet-20: hsl(320, 50%, 20%);
	--color-medium-red-violet-30: hsl(320, 50%, 30%);
	--color-medium-red-violet-40: hsl(320, 50%, 40%);
	--color-medium-red-violet-50: hsl(320, 50%, 50%);
	--color-medium-red-violet-60: hsl(320, 50%, 60%);
	--color-medium-red-violet-70: hsl(320, 50%, 70%);
	--color-medium-red-violet-80: hsl(320, 50%, 80%);
	--color-medium-red-violet-90: hsl(320, 50%, 90%);


  --color-muted-indigo-10: hsl(240, 15%, 10%);
	--color-muted-indigo-15: hsl(240, 15%, 15%);
	--color-muted-indigo-20: hsl(240, 15%, 20%);
	--color-muted-indigo-25: hsl(240, 15%, 25%);
	--color-muted-indigo-30: hsl(240, 15%, 30%);
	--color-muted-indigo-40: hsl(240, 15%, 40%);
	--color-muted-indigo-50: hsl(240, 15%, 50%);
	--color-muted-indigo-60: hsl(240, 15%, 60%);
	--color-muted-indigo-70: hsl(240, 15%, 70%);
	--color-muted-indigo-80: hsl(240, 15%, 80%);
	--color-muted-indigo-90: hsl(240, 15%, 90%);

	--color-navy-blue-10: hsl(220, 50%, 10%);
	--color-navy-blue-20: hsl(220, 50%, 20%);
	--color-navy-blue-30: hsl(220, 50%, 30%);
	--color-navy-blue-40: hsl(220, 50%, 40%);
	--color-navy-blue-50: hsl(220, 50%, 50%);
	--color-navy-blue-60: hsl(220, 50%, 60%);
	--color-navy-blue-70: hsl(220, 50%, 70%);
	--color-navy-blue-80: hsl(220, 50%, 80%);
	--color-navy-blue-90: hsl(220, 50%, 90%);
	--color-navy-blue-95: hsl(220, 50%, 95%);

	--color-violet-10: hsl(270, 50%, 10%);
	--color-violet-20: hsl(270, 50%, 20%);
	--color-violet-30: hsl(270, 50%, 30%);
	--color-violet-40: hsl(270, 50%, 40%);
	--color-violet-50: hsl(270, 50%, 50%);
	--color-violet-60: hsl(270, 50%, 60%);
	--color-violet-70: hsl(270, 50%, 70%);
	--color-violet-80: hsl(270, 50%, 80%);
	--color-violet-90: hsl(270, 50%, 90%);
	--color-violet-95: hsl(270, 50%, 95%);

	--color-magenta-10: hsl(300, 50%, 10%);
	--color-magenta-20: hsl(300, 50%, 20%);
	--color-magenta-30: hsl(300, 50%, 30%);
	--color-magenta-40: hsl(300, 50%, 40%);
	--color-magenta-50: hsl(300, 50%, 50%);
	--color-magenta-60: hsl(300, 50%, 60%);
	--color-magenta-70: hsl(300, 50%, 70%);
	--color-magenta-80: hsl(300, 50%, 80%);
	--color-magenta-90: hsl(300, 50%, 90%);
	--color-magenta-95: hsl(300, 50%, 95%);




	--background-color:var(--color-violet-20);
	--header-anchor-color: var(--color-magenta-50);
	--color-headings: var(--color-magenta-90);
	--color-header-border: var(--color-red-violet-20);
	--color-postlist-item-before: var(--color-gray-30);

	--text-color: var(--color-muted-indigo-90);
	--text-color-link: var(--color-magenta-80);
	--text-color-link-visited: var(--color-magenta-70);
	--text-color-link-visited:hover: var(--color-magenta-60);
	--text-color-link-active: var(--color-muted-indigo-70);
	--text-color-link-hover: var(--color-muted-indigo-60);

	--syntax-tab-size: 2;


	--gradient: linear-gradient(90deg, hsl(240, 7%, 95%) 0%, hsl(301, 57%, 72%) 10%, hsl(299, 45%, 52%) 40%, hsl(300, 83%, 60%) 45%);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--color-headings);
		font-family: var(--font-family-headings);
	}

	h1 {
		background: var(--gradient);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	h2 {
		background: var(--gradient);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}


@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #c0c0c0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-ocean-_ above */
		--text-color: var(--color-ocean-9);
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href]:not(.home-link, .nav-item a) {
	color: var(--text-color-link);
	display: inline-block;
	text-decoration: none;
}

a[href]:active {
	color: var(--text-color-link-active);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover {
	background: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
a[href]:visited:hover {
	background: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}


main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px solid var(--color-gray-60);
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: 0.5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
header {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-family: var(--font-family-headings);
	font-size: 1.25rem;
	gap: 1rem 0.5rem;
	padding: 1rem;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	border-bottom: 2px solid var(--text-color-link);
}


/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-post-list-item-before);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: 0.25em;
	padding-right: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: 0.1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: none;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: transparent;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

/*SOCIAL BUTTONS*/
ul.tc-socialMedia__links {
	margin-top: 0;
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

ul.tc-socialMedia__links > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

/*FOOTER*/

.tc-footer {
	display: flex;
	border: white;
	flex-direction: column;
	font-family: var(--font-family-headings);
	height: 300px;
	justify-content: space-between;
	padding: 125px 0;
}

.tc-footer__text {
	align-self: center;
	margin: 0;
}
